body {
  padding: 0;
  text-align: center;
}

#game-intro {
  align-content: center;
  padding: 20px 0px;
}

#game-screen {
  background-size: cover;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: absolute;
  background-image: url("/images/background.jpg");
  background-size: cover;
  animation: slide 30s linear infinite;
  display: none;
}
#game-container {
  display: flex;
  position: absolute;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
  display: none;
  font-family: "Verdana";
  color: #6a1414;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
}

.arrows-img {
  width: 150px;
  display: flex;
  position: absolute;
  right: 60px;
  bottom: 19px;
}

body button {
  font-size: 130%;
  background-color: #870007;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  animation: example 3s infinite;
}

@keyframes example {
  0% {
    background-color: #ff0000;
  }
  50% {
    background-color: #600000;
  }
  100% {
    background-color: #ff0000;
  }
}

#select-player {
  background-image: url("../images/background2.png");
  background-size: cover;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: absolute;
  display: none;
}

#select-player h4 {
  font-family: Verdana;
  color: rgb(255, 255, 255);
  height: 200px;
  width: 150px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(12, 0, 106);
  display: inline;
  float: inline-end;
  position: absolute;
  left: 120px;
  bottom: -120px;
}

#select-player h3 {
  font-family: Verdana;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
